.view-or-edit,
.your-cart {
  position: relative;
  z-index: 1;
}
.your-cart {
  margin: 0;
  width: 678.1px;
  font-size: inherit;
  line-height: 68px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.view-or-edit {
  align-self: stretch;
  font-size: 16px;
  line-height: 22px;
}
.cart-header {
  width: 849.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: calc(100% - 1462px);
}
.cart-items-child {
  margin-left: -142.6px;
  width: 1604.7px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  flex-shrink: 0;
  max-width: 110%;
}
.cart-header-parent,
.cart-items {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.cart-items {
  margin-bottom: -589.8px;
  height: 1470.2px;
  width: 1462.1px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  max-width: calc(100% - 849px);
}
.cart-header-parent {
  align-self: stretch;
  height: 254px;
  background-color: #f4f1ff;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: 82px 118px;
  max-width: 100%;
  text-align: left;
  font-size: 60px;
  color: #545454;
  font-family: Gotham;
}
@media screen and (max-width: 1900px) {
  .cart-header {
    max-width: 100%;
  }
}
@media screen and (max-width: 1425px) {
  .cart-header {
    max-width: 100%;
  }
  .cart-header-parent {
    padding: 53px 59px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .your-cart {
    font-size: 48px;
    line-height: 54px;
  }
  .cart-header {
    max-width: 100%;
  }
  .cart-header-parent {
    padding: 34px 29px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .your-cart {
    font-size: 36px;
    line-height: 41px;
  }
  .cart-header {
    max-width: 100%;
  }
  .cart-header-parent {
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
