.about-this-gift {
  width: 212px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.icon-set {
  width: 15.7px;
  height: 7.8px;
  position: relative;
  object-fit: contain;
}
.voucher-details,
.voucher-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.1px 0 0;
}
.voucher-details {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #787878;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 31px 22px 29px;
  gap: 20px;
  text-align: left;
  font-size: 18px;
  color: #545454;
  font-family: Gotham;
}
